
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  gap: 10px;
    
}
img {
  border-radius: 45px;
}

html
{
    width: 600px;  /* max: 800px, changes window size of plugin */
    height: 600px; /* max: 600px */
}
option::checkmark {
  order: 1;
  margin-left: auto;

}
::picker(select) {
  opacity: 0;
  transition: all 0.4s allow-discrete; /*animation*/
}

select {
  padding: 5px; 
  
}
button{
  background-color:#AECCE4; 
  transition: background-color 0.5s;
  border-radius: 4px;
  display: inline-block;
}

.flex-parent {
  display: flex;
}
.jc-center {
  justify-content: center;
  margin: 30px;
}
button.margin-right {
  margin-right: 20%;
}
button:hover{
  background-color:blue;
}

