
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  gap: 10px;
    
}
img {
  border-radius: 45px;
}

html
{
    width: 400px;  /* max: 800px, changes window size of plugin */
    height: 400px; /* max: 600px */
}